
/* Aseguramos que html, body y #root ocupen toda la altura */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Usamos flexbox para distribuir el contenido y empujar el footer al fondo */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el contenido ocupe todo el alto */
}

/* Esto asegura que el footer ocupe el ancho completo de la pantalla */
footer {
  width: 100%;
  margin-top: auto; /* Empuja el footer hacia abajo */
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Asegura que el contenedor ocupe todo el ancho */
.container-fluid {
  width: 300%;
  padding-left: 0;
  padding-right: 0;
}
