body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  
  
}

.header {
  background-color: #000000;
  color: rgb(255, 255, 255);
  
  text-align: center;
  
}



.footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  
  position: relative;
  bottom: 0;
  
}
