.filtro-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #003366; 
    font-weight: bold;
    font-size: 1.2vw; 
    gap: 0.5vw; 
    white-space: nowrap; 
    margin-top: 6%;
  }
  
  .filtro-icon {
    display: inline-block;
    font-size: 1.5vw; 
    color: #003366;
  }
  
  .filtro-title {
    font-size: 1.2vw;
    color: #003366;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .filtro-container {
      font-size: 2.5vw;
    }
  
    .filtro-icon {
      font-size: 2.5vw;
    }
  
    .filtro-title {
      font-size: 2.5vw;
    }
  }
  
  @media (max-width: 480px) {
    .filtro-container {
      font-size: 3.5vw;
    }
  
    .filtro-icon {
      font-size: 3.5vw;
    }
  
    .filtro-title {
      font-size: 3.5vw;
    }
  }
  