.nav-container {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
    z-index: 99999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    text-decoration: none;
    color: #0E2041;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

nav li:hover {
    background-color: #e0e0e0;
    border-bottom: 4px solid #E50246;
}

nav li.active {
    background-color: #007bff;
    color: #fff;
}

