.promociones-carrusel-container {
    width: 100%;
    max-width: 40%;
    margin: 20% auto;
    transform: translateY(-50%);
    position: relative;
  }
  
  .custom-carousel {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-img {
    height: 500px;
    object-fit: cover;
  }
  