.cine-card {
  border: 5px solid #0b1a33; /* Cambiado de 5px a 1% */
  border-radius: 2%; /* Cambiado de 8px a un valor proporcional */
  padding: 2%; /* Cambiado de 7px a un porcentaje */
  text-align: center;
  background-color: #ffffff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3% rgba(0, 0, 0, 0.1); /* Adaptado para mantener el sombreado proporcional */
  max-width: 90%; /* Cambiado de 300px a un porcentaje de contenedor */
  height: auto;
  overflow: hidden;
  margin-bottom: 0.5%; /* Cambiado de 1px a porcentaje */
}

.cine-card-img {
  max-width: 100%;
  height: auto; 
  border-radius: 2%; /* Cambiado de 8px a un porcentaje */
  padding: 0.5%; /* Cambiado de 2px a un porcentaje */
  box-sizing: border-box;
  display: block;
  margin-bottom: 2%; /* Cambiado de 10px a un porcentaje */
}

.cine-card h2,
.cine-card p {
  margin: 0.5% 0; /* Cambiado de 2px a un porcentaje */
}
