.title {
    margin-bottom: 5%; /* Cambiado de 20px a un porcentaje relativo */
    text-align: left;
    font-size: 3rem; /* Mantengo el tamaño en rem para consistencia con el diseño general */
    color: #ffffff;
    padding-left: 5%; /* Cambiado de 80px a un porcentaje relativo */
    padding-top: 1%; /* Cambiado de 10px a un porcentaje relativo */
    padding-bottom: 0.5%; /* Cambiado de 3px a un porcentaje relativo */
}

.cine-grid {
    gap: 2%; /* Cambiado de 30px a un porcentaje relativo */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-block: 2%; /* Ya estaba en porcentaje */
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    padding-inline: 5%; /* Cambiado de 80px a un porcentaje relativo */
    justify-content: center; 
    max-width: 95%; /* Cambiado de 1700px a un porcentaje relativo del contenedor */
}

.cajatitle {
    background-color: #0b1a33;
    width: 100%;
    height: 10%; /* Cambiado de 80px a un porcentaje relativo del contenedor */
}

.caja-pagina {
    width: 100%;
    align-items: center;
}
