.custom-section-content {
  margin-top: 2%;  
  margin-bottom: 2%; 
}

.custom-section-content .footer-item {
  margin-bottom: 1.5%; 
  line-height: 300%; 
  letter-spacing: 0.05em; 
}

.footer-bg {
  background-color: #0b1a33;
  color: #ffffff;
  padding: 3% 0; 
  line-height: 100%; 
}

.footer-container {
  max-width: 80%; 
  margin: 0 auto;
  text-align: center;
}

.footer-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-container .col-md-4 {
  flex: 0 0 32%; 
  margin-bottom: 2%; 
}

.footer-container a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  letter-spacing: 0.05em; 
}

.footer-container a:hover {
  color: #e63946;
}

.footer-container .btn-outline-light {
  border: 0.1% solid #ffffff; 
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  padding: 1% 2%; 
  font-size: 0.5rem; 
}

.footer-container .btn-outline-light:hover {
  background-color: #e63946;
  border-color: #e63946;
  color: #ffffff;
}

.footer-container img {
  max-width: 10%; 
  margin-top: 2%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-container .footer-item a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  letter-spacing: 0.05em; 
}

.footer-container .footer-item a:hover {
  color: #e63946;
}

.footer-container .footer-item a.text-light.text-decoration-none {
  margin-top: 1.5%; 
  margin-bottom: 1.5%;
  display: block;
  letter-spacing: 0.05em; 
}

.custom-section-content h5 {
  font-size: 1.5rem; 
  margin-bottom: 1.5%;  
  line-height: 5; 
  letter-spacing: 0.05em; 
}

.custom-section-content ul {
  padding-left: 2%;
}