:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 elementos por fila */
  gap: 20px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centrar horizontalmente */
  align-items: start; /* Alinear verticalmente */
}
.total {
  margin-top: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.total h3 {
  font-size: 1.5rem;
  color: #333;
}

.total h2 {
  font-size: 2rem;
  font-weight: bold;
  color: red;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.Principal {
  font-family: 'Playfair Display'; /* Fuente elegante */
  font-size: 3rem; /* Tamaño destacado */
  font-weight: 700; /* Negrita */
  color: #373737; /* Negro puro */
  text-transform: uppercase; /* Mayúsculas */
  text-align: center; /* Centrado */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras sutiles */

  display: inline-block; /* Para que la línea no ocupe todo el ancho */
  padding-bottom: 5px; /* Espaciado con la línea */
}
.boton-pagar {
  background: linear-gradient(90deg, #e63946, #f1faee); /* Degradado rojo */
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute; /* Para posicionarlo en la parte derecha */
  right: 20px; /* 20px de distancia desde la derecha */
}

.boton-pagar:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.boton-pagar:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}